<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>AppKit</string>
		<key>topics</key>
		<array>
			<string>Core App</string>
			<string>Documents, Files and iCloud</string>
			<string>Cocoa Bindings</string>
			<string>Resource Management</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>ExceptionHandling</string>
		<key>topics</key>
		<array/>
	</dict>
</array>
</plist>
